//default Button styles
.button {
  display: inline-block;
  margin: 0.25rem;
  min-width: 10rem;
  background-color: #976767;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 4px;
  &:hover {
    background-color: #ba9696;
    color: #fff;
  }
}
